@inherits LayoutComponentBase
@inject NotificationService _notice
@using Blazor.Quartz.Core.Service.Timer.Dto

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <Button Type="@ButtonType.Link" OnClick="@OnClick">
            约定返回模型
        </Button>
        <Button Type="@ButtonType.Link" OnClick="@OnClick2">
            项目主页
        </Button>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
@code {
    private async Task OnClick()
    {
        var reqModel = new HttpResultModel() { resCode = 0, resMsg = "成功", isSuccess = true };
        await _notice.Open(new NotificationConfig()
            {
                Message = "约定返回模型",
                Duration = 3.5,
                Description = $"{JsonConvert.SerializeObject(reqModel) }"
            });
    }

    private async Task OnClick2()
    {
        await _notice.Open(new NotificationConfig()
            {
                Message = "项目主页",
                Duration = 5.5,
                Description = "https://github.com/wuzongwen/AntBlazor.Quartz"
            });
    }
}
