<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">任务调度平台</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Type="area-chart" Theme="outline" Style="font-size: 22px;margin-right: 10px" /> 看板
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="application">
                <Icon Type="appstore" Theme="outline" Style="font-size: 22px;margin-right: 10px" /> 应用管理
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="job">
                <Icon Type="paper-clip" Theme="outline" Style="font-size: 22px;margin-right: 10px" /> 任务管理
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
