@namespace AntDesign
@inherits DrawerTemplate<string, string>

<div>
    value: <Input @bind-Value="value" />
    <br />
    <br />
    <Button Type="@ButtonType.Primary" OnClick="OnClose">提交</Button>
</div>

@code{

    string value;

    protected override void OnInitialized()
    {
        value = this.Options.ToString();
        base.OnInitialized();
    }


    async void OnClose()
    {
        await this.CloseAsync(value);
    }
}